<ng-container *ngIf="!my_data">
    NO DATA
 </ng-container>

 <form *ngIf="my_data" class="container">
     <div class="row">
         <div class="col-12 text-center mb-3">
            <h1 class="text-dark">Encuesta de satisfacción</h1>
         </div>
         <div class="col-md-6">
            <div class="card">
                <div class="card-header fw-bold">¿Cómo calificarías el servicio brindado?</div>
                <div class="card-body text-center"><label>{{ survey.answ_one }}</label></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header fw-bold">¿Cómo calificarías al asesor que te atendio?</div>
                <div class="card-body text-center"><label>{{ survey.answ_two }}</label></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header fw-bold">¿Cómo calificarías la experiencia de compra?</div>
                <div class="card-body text-center"><label>{{ survey.answ_three }}</label></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header fw-bold">¿Cómo te enteraste del servicio?</div>
                <div class="card-body text-center"><label>{{ survey.answ_four }}</label></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header fw-bold">¿Volverias a adquirir el serivicio nuevamente?</div>
                <div class="card-body text-center"><label>{{ survey.answ_five }}</label></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header fw-bold">¿Desde cuando es usted cliente?</div>
                <div class="card-body text-center"><label>{{ survey.answ_six }}</label></div>
            </div>
        </div>
    </div>
</form>
