<div class="d-flex justify-content-between align-items-center">
    <h5 class="font-16 m-0">Lista de Llamadas</h5>
    <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#standard-modal">Nuevo</button>
  </div>
  
  <ng-container *ngIf="load_data">
    <div class="text-center">
      <app-loading></app-loading>
    </div>
  </ng-container>
  
  <ng-container *ngIf="!load_data">
    <div *ngIf="this.calls.length == 0" class="text-center m-4">
      <span>No hay resultados que mostrar.</span>
    </div>
    <div class="my-2" *ngIf="this.calls.length >= 1">
      <div *ngFor="let item of calls | paginate: { itemsPerPage: 4, currentPage: p }" class="card shadow-none border mb-1">
        <div class="row align-items-center p-2">
          <div class="col-auto">
            <img [src]="item.employee.image?.secure_url || default_path" class="me-2 rounded-circle" height="36" alt="image">
          </div>
          <div class="col ps-0">
              <a class="text-muted fw-bold">{{ item.employee.full_name | titlecase }}</a>
              <span class="text-muted"> - {{ item.date | date: 'MMM d' }} a las {{ item.time }}</span>
              <p class="mb-0">{{ item.result }} : {{ item.note || "Sin comentarios" }}</p>
          </div>
          <div class="col-auto">
            {{ item.created_at | time }}
          </div>
        </div>
      </div>
    </div>
    <div class="text-center pt-2">
      <pagination-controls *ngIf="calls.length >= 1" (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
    </div> 
  </ng-container>
  
  <div id="standard-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <form (ngSubmit)="register()" [formGroup]="myForm" class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="standard-modalLabel">Registrar Llamada</h4>
                <button #closeModal type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body mx-3">
              <div class="mb-2">
                <label class="form-label">Fecha</label>
                <input formControlName="date" type="date" class="form-control" />
                <small *ngIf="validators('date')" class="text-danger">Este campo es obligatorio.</small>
              </div>
              <div class="mb-2">
                <label class="form-label">Hora</label>
                <input formControlName="time" type="time" class="form-control" />
                <small *ngIf="validators('time')" class="text-danger">Este campo es obligatorio.</small>
              </div>
              <div class="mb-2">
                <label class="form-label">Resultado</label>
                <select formControlName="result" class="form-control">
                  <option value="" selected disabled>Seleccionar</option>
                  <option value="Ocupado">Ocupado</option>
                  <option value="Conectado">Conectado</option>
                  <option value="Dejo un mensaje">Dejo un mensaje</option>
                  <option value="Sin respuesta">Sin respuesta</option>
                  <option value="Número Incorrecto">Número Incorrecto</option>
                  <option value="Proxima llamada">Proxima llamada</option>
                  <option value="Venta cerrada">Venta cerrada</option>
                </select>
                <small *ngIf="validators('result')" class="text-danger">Este campo es obligatorio.</small>
              </div>
              <div class="mb-2">
                <label class="form-label">Nota</label>
                <textarea formControlName="note" class="form-control" rows="4" placeholder="Alguna nota o información"></textarea>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-success">Guardar</button>
            </div>
        </form>
    </div>
  </div>
  