<div class="container d-md-flex align-items-center" style="height: 100vh !important;">
    <form (ngSubmit)="send_survey()" [formGroup]="myForm" class="container">

        <div *ngIf="!send" class="row">

            <div class="col-12 text-center">
                <h1 class="text-dark">Encuesta de satisfacción</h1>
                <p *ngIf="expired" class="text-muted">La encuesta ya expiró, porfavor solicite una nueva encuesta.</p>
                <p *ngIf="!expired" class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header fw-bold">¿Cómo calificarías el servicio brindado?</div>
                    <div class="card-body">
                        <section class="d-flex gap-3">
                            <label><input formControlName="answ_one" class="form-check-input me-1" type="radio" value="1">1</label>
                            <label><input formControlName="answ_one" class="form-check-input me-1" type="radio" value="2">2</label>
                            <label><input formControlName="answ_one" class="form-check-input me-1" type="radio" value="3">3</label>
                            <label><input formControlName="answ_one" class="form-check-input me-1" type="radio" value="4">4</label>
                            <label><input formControlName="answ_one" class="form-check-input me-1" type="radio" value="5">5</label>
                        </section>
                        <small *ngIf="validators('answ_one')" class="text-danger"> Este campo es obligatorio. </small>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header fw-bold">¿Cómo calificarías al asesor que te atendio?</div>
                    <div class="card-body">
                        <section class="d-flex gap-3">
                            <label><input formControlName="answ_two" class="form-check-input me-1" type="radio" value="1">1</label>
                            <label><input formControlName="answ_two" class="form-check-input me-1" type="radio" value="2">2</label>
                            <label><input formControlName="answ_two" class="form-check-input me-1" type="radio" value="3">3</label>
                            <label><input formControlName="answ_two" class="form-check-input me-1" type="radio" value="4">4</label>
                            <label><input formControlName="answ_two" class="form-check-input me-1" type="radio" value="5">5</label>
                        </section>
                        <small *ngIf="validators('answ_two')" class="text-danger mt-2"> Este campo es obligatorio. </small>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header fw-bold">¿Cómo calificarías la experiencia de compra?</div>
                    <div class="card-body">
                        <section class="d-flex gap-3">
                            <label><input formControlName="answ_three" class="form-check-input me-1" type="radio" value="1">1</label>
                            <label><input formControlName="answ_three" class="form-check-input me-1" type="radio" value="2">2</label>
                            <label><input formControlName="answ_three" class="form-check-input me-1" type="radio" value="3">3</label>
                            <label><input formControlName="answ_three" class="form-check-input me-1" type="radio" value="4">4</label>
                            <label><input formControlName="answ_three" class="form-check-input me-1" type="radio" value="5">5</label>
                        </section>
                        <small *ngIf="validators('answ_three')" class="text-danger"> Este campo es obligatorio. </small>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="card">
                    <div class="card-header fw-bold">¿Cómo te enteraste del servicio?</div>
                    <div class="card-body">
                        <section class="d-flex gap-2">
                            <label><input formControlName="answ_four" class="form-check-input me-1" type="radio" value="Facebook">Facebook</label>
                            <label><input formControlName="answ_four" class="form-check-input me-1" type="radio" value="Instragram">Instragram</label>
                            <label><input formControlName="answ_four" class="form-check-input me-1" type="radio" value="Whatsapp">Whatsapp</label>
                            <label><input formControlName="answ_four" class="form-check-input me-1" type="radio" value="Web">Web</label>
                            <label><input formControlName="answ_four" class="form-check-input me-1" type="radio" value="Un amigo">Un amigo</label>
                        </section>
                        <small *ngIf="validators('answ_four')" class="text-danger"> Este campo es obligatorio. </small>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header fw-bold">¿Volverias a adquirir el serivicio nuevamente?</div>
                    <div class="card-body">
                        <section class="d-flex gap-3">
                            <label><input formControlName="answ_five" class="form-check-input me-1" type="radio" value="Si">Si</label>
                            <label><input formControlName="answ_five" class="form-check-input me-1" type="radio" value="No">No</label>
                        </section>
                        <small *ngIf="validators('answ_five')" class="text-danger"> Este campo es obligatorio. </small>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header fw-bold">¿Desde cuando es usted cliente?</div>
                    <div class="card-body">
                        <section class="d-flex gap-2">
                            <label><input formControlName="answ_six" class="form-check-input me-1" type="radio" value="Primera compra">Primera compra</label>
                            <label><input formControlName="answ_six" class="form-check-input me-1" type="radio" value="Menos de un año">Menos de un año</label>
                            <label><input formControlName="answ_six" class="form-check-input me-1" type="radio" value="Más de un año">Más de un año</label>
                        </section>
                        <small *ngIf="validators('answ_six')" class="text-danger"> Este campo es obligatorio. </small>
                    </div>
                </div>
            </div>

            <div class="col-4 mx-auto text-center">
                <button *ngIf="expired" class="btn btn-danger btn-lg" disabled>Enviar encuesta</button>
                <button *ngIf="!expired" type="submit" class="btn btn-info btn-lg">Enviar encuesta</button>
            </div>
        </div>

        <div *ngIf="send" class="row my-4">
            <div class="col-12 text-center">
                <img src="assets/images/resources/sonriendo.png" style="width: 60px;" alt="">
                <h1 class="text-dark">Gracias por darnos su opinion</h1>
                <div class="text-muted">Mejoramos con tus experiencias</div>
            </div>
        </div>

        <br><br><br>

    </form>
</div>
