<ng-container *ngIf="load_data">
    <div class="text-center">Cargando...</div>
</ng-container>

<ng-container *ngIf="!load_data">

    <div class="row">
        <div class="col-12">
            <div class="card ribbon-box">
                <div class="card-body">
                    <div class="row">
                        <div class="ribbon ribbon-dark d-md-flex justify-content-between">
                            <div>
                                <i class="mdi mdi-access-point me-1"></i>ORDER ID #{{ sale._id | uppercase }}
                            </div>
                            <div>
                                FECHA: {{ sale.created_at | date: 'dd/MM/yyyy' }}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <h6>Empresa</h6>
                            <address class="mb-0">
                                {{ company.company | uppercase }}<br>
                                RUC: {{ company.ruc }}<br>
                                {{ company.address }}<br>
                                {{ company.phone }}
                            </address>
                        </div>
                        <div class="col-sm-4">
                            <h6>Cliente</h6>
                            <address class="mb-0">
                                {{ sale.customer?.full_name | uppercase }}<br>
                                DNI: {{ sale.customer?.dni || '*******' }}<br>
                                {{ sale.customer?.city || '...' }}<br>
                                {{ sale.customer?.phone || '...' }}
                            </address>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>Venta</h6>
                                    <address class="mb-0">
                                        Estado: 
                                        <span *ngIf="sale.status == 'Aprobado'" class="badge bg-success">Aprobado</span>
                                        <span *ngIf="sale.status == 'Procesando'" class="badge bg-warning">Procesando</span>
                                        <span *ngIf="sale.status == 'Cancelado'" class="badge bg-danger">Cancelado</span><br>
                                        Origen: {{sale.origin }}<br>
                                        Banco: {{sale.bank }}<br>
                                        Método: {{sale.method }}
                                    </address>
                                </div>
                                <div class="col-md-6 text-md-end align-self-center">
                                    <img src="assets/images/barcode.png" alt="barcode-image" class="img-fluid me-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-3">DETALLES DE LA VENTA</h4>
                    <div class="table-responsive">
                        <table class="table table-sm table-centered table-nowrap mb-0">
                            <thead class="table-light">
                            <tr>
                                <th>Descripción</th>
                                <th>Precio Unidad</th>
                                <th>Cantidad</th>
                                <th>Importe</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of details">
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="col-auto">
                                           <img [src]="item.product.image?.secure_url || default_path" class="avatar-sm rounded" alt="avatar">
                                        </div>
                                        <div class="flex-grow-1 ms-2">
                                            <div>{{ item.product.title }}</div>
                                            <span class="text-muted">
                                              {{ item.product.variety }}: {{ item.variety.title }}
                                            </span>
                                        </div>
                                     </div>
                                </td>
                                <td>{{ item.price | currency: 'S/. '}}</td>
                                <td>{{ item.quantity }} unid.</td>
                                <td>{{ item.price * item.quantity | currency: 'S/. '}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div> 
    
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-3">Resumen del Pedido</h4>
                    <div class="table-responsive">
                        <table class="table table-sm table-centered table-nowrap mb-0">
                            <thead class="table-light">
                            <tr>
                                <th>Descripción</th>
                                <th>Precio</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Subtotal :</td>
                                <td>{{ sale.amount -  sale.amount * 0.18 | currency: 'S/. ' }}</td>
                            </tr>
                            <tr>
                                <td>IGV (18%): </td>
                                <td>{{ sale.amount * 0.18 | currency: 'S/. ' }}</td>
                            </tr>
                            <tr>
                                <td>Delivery : </td>
                                <td>{{ 0 | currency: 'S/. ' }}</td>
                            </tr>
                            <tr>
                                <th>Total :</th>
                                <th>{{ sale.amount | currency: 'S/. ' }}</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-grid">
                        <button *ngIf="sale.status == 'Procesando'" (click)="pass_sale()" class="btn btn-success btn-sm mt-3">Aprobar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ng-container>
