<div class="card">
    
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h5>Buscar Inscripción</h5>
            <div class="d-flex gap-2">
                <button (click)="export_excel()" class="btn btn-success">
                    <i class="mdi mdi-file-document-outline me-md-1 d-md-none"></i>
                    <span class="d-none d-md-inline">Exportar</span>
                </button>
                <button routerLink="create" class="btn btn-primary">
                    <i class="mdi mdi-plus-box-outline me-md-1 d-md-none"></i>
                    <span class="d-none d-md-inline">Nuevo</span>
                </button>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-2 mb-2">
                <label class="form-label">Empleado</label>
                <select [(ngModel)]="employee" name="employee" class="form-control">
                    <option value="all" selected>Todos</option>
                    <option *ngFor="let item of employees" [value]="item._id">{{ item.full_name }}</option>
                </select>
            </div>
            <div class="col-12 col-md-2 mb-2">
                <label class="form-label">Fecha Inicio</label>
                <input [(ngModel)]="from" name="from" type="date" class="form-control">
            </div>
            <div class="col-12 col-md-2 mb-2">
                <label class="form-label">Fecha Fin</label>
                <input [(ngModel)]="to" name="to" type="date" class="form-control">
            </div>
            <div class="col-12 col-md-2 mb-2 align-self-end">
                <button (click)="filter()" type="button" class="btn btn-dark w-100">Buscar</button>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
       <div class="table-responsive">
          <table class="table table-sm table-centered table-nowrap">
             <thead>
                <tr>
                   <th class="pointer" (click)="sortby('_id')">Código Inscripción<i class="mdi mdi-sort"></i></th>
                   <th class="pointer" (click)="sortby('customer.full_name')">Cliente <i class="mdi mdi-sort"></i></th>
                   <th class="pointer" (click)="sortby('matricula')">Matrícula <i class="mdi mdi-sort"></i></th>
                   <th class="pointer" (click)="sortby('amount')">Importe<i class="mdi mdi-sort"></i></th>
                   <th class="pointer" (click)="sortby('subtotal')">Subtotal<i class="mdi mdi-sort"></i></th>
                   <th class="pointer" (click)="sortby('status')">Estado <i class="mdi mdi-sort"></i></th>
                   <th class="pointer" (click)="sortby('created_at')">Fecha <i class="mdi mdi-sort"></i></th>
                   <th>Otros</th>
                   <th class="text-center">Acciones</th>
                </tr>
             </thead>
             <tbody *ngIf="load_data">
                <tr>
                   <td class="text-center" colspan="100%">
                       <app-loading></app-loading>
                   </td>
               </tr>
             </tbody>
             <tbody *ngIf="!load_data">
                <tr *ngIf="inscriptions.length == 0">
                   <td class="text-center" colspan="100%">
                       <app-data-found></app-data-found>
                   </td>
               </tr>
                <tr *ngFor="let item of inscriptions | paginate: { itemsPerPage: 5, currentPage: p }">
                   <td>#{{ item._id | uppercase }}</td>
                   <td>{{ item.customer?.full_name || 'no data' }}</td>
                   <td>{{ item.matricula | currency: 'S/. '}}</td>
                   <td>{{ item.amount | currency: 'S/. '}}</td>
                   <td>{{ item.subtotal | currency: 'S/. '}}</td>
                   <td>
                    <span *ngIf="item.status == 'Aprobado'" class="badge bg-success">Aprobado</span>
                    <span *ngIf="item.status == 'Procesando'" class="badge bg-warning text-light">Procesando</span>
                    <span *ngIf="item.status == 'Cancelado'" class="badge bg-danger text-light">Cancelado</span>
                   </td>
                   <td><i class="uil uil-calender me-1"></i>{{ item.created_at | date: 'dd/MM/YY - hh:mm: a' }}</td>
                   <td>
                    <a *ngIf="item.survey" [routerLink]="['survey', item._id]" class="font-18 text-dark me-2" title="Ver Encuesta"><i class="uil uil-notes"></i></a>
                    <a *ngIf="!item.survey" (click)="generate_token(item)" class="font-18 text-dark me-2" title="Generar Encuesta"><i class="uil uil-notes"></i></a>
                    <a (click)="init_comments(item._id)" data-bs-toggle="modal" [attr.data-bs-target]="'#fx-' + item._id" class="font-18 text-info me-2" title="Comentarios">
                      <i class="uil uil-chat"></i>
                    </a>
                    <div class="modal fade" [id]="'fx-'+ item._id">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Comentarios de #{{ item._id | uppercase }}</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                                </div>
                                <div class="modal-body text-start">
                                    <ng-container *ngIf="load_comments">
                                        <div class="text-center">Cargando...</div>
                                    </ng-container>
                                    <ng-container *ngIf="!load_comments">
                                        <div *ngIf="comments.length == 0">
                                            <div class="text-center">No hay actividades registradas.</div>
                                        </div>
                                        <div  *ngFor="let subitem of comments" class="timeline-alt py-0">
                                            <div class="timeline-item">
                                                <i class="mdi mdi-upload bg-info-lighten text-info timeline-icon"></i>
                                                <div class="timeline-item-info">
                                                    <small>{{ subitem.activity }}</small>
                                                    <p class="mb-0 pb-2">
                                                        <small class="text-muted">{{ subitem.created_at | date: "dd/MM/YY" }} a las {{ subitem.created_at | date: "shortTime" }}</small>
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a [routerLink]="['payment', item._id]" class="font-18 text-success me-2" title="Pagos"><i class="uil uil-money-withdrawal"></i></a>
                    <a [routerLink]="['contract', item._id]" class="font-18 text-primary" title="Contrato"><i class="uil uil-file-times-alt"></i></a>
                   </td>
                   <td class="text-center">
                      <a [routerLink]="['details', item._id]" class="font-18 text-info me-2" title="Detalles"><i class="uil uil-eye"></i></a>
                      <a *ngIf="item.customer && item.status == 'Procesando' || item.status == 'Aprobado'" (click)="send_email(item._id)" class="font-18 text-warning me-2" title="Correo"><i class="uil uil-envelope"></i></a>
                      <ng-container *ngIf="item.status != 'Cancelado'">
                        <a (click)="cancel_inscription(item._id)" class="font-18 text-danger" title="Cancelar"><i class="uil uil-multiply"></i></a>
                      </ng-container>
                      <ng-container *ngIf="item.status == 'Cancelado'">
                        <a (click)="accept_inscription(item._id)" class="font-18 text-success" title="Aceptar"><i class="uil uil-check"></i></a>
                      </ng-container>
                   </td>
                </tr>
             </tbody>
          </table>
       </div>
       <div class="d-flex justify-content-center justify-content-md-end">
          <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
      </div>
    </div>
</div>
