<div class="leftside-menu">
   <!-- LOGO -->
   <a routerLink="/" class="logo text-center logo-light">
      <span class="logo-lg">
         <img src="assets/images/logo.png" alt="" height="16">
      </span>
      <span class="logo-sm">
         <img src="assets/images/logo_sm.png" alt="" height="16">
      </span>
   </a>
   <!-- LOGO -->
   <div class="h-100" id="leftside-menu-container" data-simplebar>
      <ul class="side-nav">
         <li class="side-nav-title side-nav-item">NAVEGACIÓN</li>
         <ng-container *ngFor="let item of sidebar, let i = index">
            <li *ngIf="item.allowRoles.includes(user.role)" class="side-nav-item" routerLinkActive="menuitem-active">
               <a [attr.data-bs-target]="'#collapse-' + i" data-bs-toggle="collapse" aria-expanded="false" class="side-nav-link">
               <i [class]="item.icon"></i>
               <span> {{ item.title }} </span>
               <span class="menu-arrow"></span>
               </a>
               <div id="collapse-{{i}}" class="collapse show">
                  <ul class="side-nav-second-level">
                     <li *ngFor="let subitem of item.menu" routerLinkActive="active">
                        <a [routerLink]="subitem.path">{{ subitem.title }}</a>
                     </li>
                  </ul>
               </div>
            </li>
         </ng-container>
      </ul>
      <div class="clearfix"></div>
   </div>
</div>